:root {
  --font-display: 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI',
    'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-body: 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI',
    'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: 'ui-monospace', 'SFMono-Regular', 'Consolas', 'Liberation Mono',
    'Menlo', 'Courier', 'monospace';

  --colors-primary: #54bc4b;
  --colors-primary-light: color(#54bc4b l(90%));
  --colors-primary-lightest: color(#54bc4b l(95%));
  --colors-secondary: #fac24f;
  --colors-tertiary: #d70015;
  --colors-quaternary: #a05a00;
  --colors-selection: #0040dd25;
  --colors-active-link: #000;

  --colors-black: #060506;
  --colors-white: #fff;
  --colors-bg: #fff;

  --colors-body: #000;
  --colors-headings: #060506;

  --colors-grey-lightest: #ebebf0;
  --colors-grey-light: #d8d8dc;
  --colors-grey-medium: #bcbcc0;
  --colors-grey-dark: #aeaeb2;
  --colors-grey-darker: #8e8e93;
  --colors-grey-darkest: #6c6c70;
}

.dark {
  --colors-bg: #141414;
  --colors-body: #fafafa;
  --colors-headings: #fff;

  --colors-white: #000;
  --colors-black: #fff;

  --colors-primary: #54bc4b;
  --colors-primary-light: color(#54bc4b a(25%));
  --colors-primary-lightest: color(#54bc4b a(10%));
  --colors-secondary: #ffd426;
  --colors-tertiary: #ff6961;
  --colors-quaternary: #ffd426;
  --colors-selection: #409cff25;
  --colors-active-link: #fff;

  --colors-grey-lightest: #242426;
  --colors-grey-light: #363638;
  --colors-grey-medium: #444446;
  --colors-grey-dark: #545456;
  --colors-grey-darker: #7c7c80;
  --colors-grey-darkest: #aeaeb2;
}
